.weather-carousel {
  display: flex;
  width: 100%;
  justify-content: space-around;

  flex-shrink: 2;
}

.temp-of-day-section {
    display: flex;
    justify-content: center;
    padding-top: 1%;
  }
  
.temp-of-day-block {
width: 95%;
height: 10%;
background: #d9d9d9;
color: #000;
font-family: Inter;
font-size: 1.5rem;
font-weight: 300;
padding-top: 1%;  
}

.weather-details-time {
display: flex;
justify-content: space-evenly;
}

.time, .temp {
width: 100%;
color: #000;
text-align: center;
font-family: Inter;
font-size: 2.5vmin;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.weather-details-icon {
  display: flex;
  justify-content: space-evenly;
}

.icon, .icon img {
  max-width: 100%;
  min-width: 0;

}

.weather-details-temp {
display: flex;
justify-content: space-evenly;
}

.time-icon-temp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.time-icon-temp div img {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.time-icon-temp p, .time-icon-temp .icon {
  
} 