.soil-graph-container {
    display: flex;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5rem;
    justify-content: center;
    position: relative;
  }
  
  .soil-graph-img-box {
    display: block;
    background: rgb(224, 224, 224);
    height: fit-content;
    padding-bottom: 0;
    border: solid rgb(224, 224, 224) 1rem;
  }
  
  .soil-graph-img-box img {
    width: 30rem;
  }
  

  
  .scale-color { /* Adjust the space between legend items */
    text-align: left;
    line-height: 2rem;
  }

  .flex {
    display: flex;

    justify-content: center;
  }

  .temperature-scale {
    width: 18rem;
  }

  .temperature-scale h3 {
    padding: 1rem;
  }
  
  .scale-color {
    padding: .5rem 0 .5rem 1rem;
  }
  