.weather-graph-container {
  display: flex;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2rem;
  justify-content: center;
  position: relative;
}

.weather-graph-img-box {
  display: block;
  background: rgb(224, 224, 224);
  height: fit-content;
  padding-bottom: 0;
  border: solid rgb(224, 224, 224) 1rem;
}

.weather-graph-img-box img {
  width: 30rem;
}

.temperature-legend {
  width: 18rem;
}

.temperature-legend h3 {
  padding-left: 1rem;
}

.legend-color {
  padding: .5rem 0 .5rem 1rem;
}

.map {
  width: 29.9rem;
  position: absolute;
  bottom: 3.8rem;
  left: 18.3rem;
  
  opacity: 10%;
}
