.icon-info-middle {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    background: #d9d9d9;
    padding: 20px;
  }
  
.four-block-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.single-block-info {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.current-icon {
  width: 50px;
  height: auto;
  flex-shrink: 0;
}

.pressure-info, .humidity-info, .wind-info, .clouds-info {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.parameter-label, .parameter-value {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

