.icon-info-middle {
    margin-left: 1%;
    width: 54%;
    height: 30rem;
    background: #d9d9d9;
  }
  
  .four-block-info {
    margin: 2%;
    width: 47.5%;
    height: 90%;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-row: auto auto;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
  }