.weekly-info-block-left {
  width: 100%;
  height: fit-content;

  margin: auto;
  margin-top: 1%; 

  min-width: 120px;

  position:relative;
}

.inner-flex {
  display: flex;
  width: 70%;
  margin: auto;

  justify-content: center;

  padding: 100px;
  padding-top: 100px;

  background: #cdd5e152;
}

.each-column {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  height: 300px;
}

.day, .temp {
   font-size: 3.5vmin !important;
}

.column {
  color: #000;
  text-align: center;
  
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
}

.forecast-item {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 70px;
  height: 70px;
  margin-left: auto;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}
