@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,300;0,600;1,300;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Spline+Sans:wght@300..700&display=swap');

.container {
    all: unset;
    max-width: 1080px;
    margin: 20px auto;
}

body {
    font-family: "Spline Sans", Arial, Helvetica, sans-serif;
}

.frost-warning {
    background-color: #ffcccb; /* Light red background for visibility */
    color: rgb(148, 4, 4); /* Darker red color for text */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a00;
  }

  .frost-wrapper {
    display: flex;

    justify-content: center;
    margin-bottom: 1rem;
  }
  